.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: 'sofia-pro-regular';
}

/* Background animation */
.canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.sectionTitle {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.projects {
  margin-top: 10vh;
}

/* Hero section (positioned higher) */
.hero {
  display: flex;
  flex-direction: column; /* Arrange elements vertically */
  justify-content: center;
  align-items: center;
  
  padding-top: 10vh; /* Add padding to ensure title has space at the top */
  width: 100%; /* Ensure full width */
  box-sizing: border-box; /* To prevent overflow */
}

/* Main rounded rectangle container */
.heroContent {
  width: 80vw;
  background: rgba(245, 245, 245, 0.94);
  border-radius: 20px;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center align all elements */
  padding: 40px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  margin-top: 5vh; /* Add space at the top */
  justify-content: center; /* Center all items vertically */
}

/* Title */
.title {
  font-size: 7vw;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  color: #1B1626;
  white-space: nowrap; /* Force title to stay on one line */
  margin: 0;
  /* margin-top: 10vh; Add space to the top of the title */
}

/* Subtitle */
.subtitle {
  margin-top: 4vh;
  font-size: 2.5rem;
  color: #1B1626;
  white-space: nowrap;
  text-align: center;
}

/* Profile Container */
.profileContainer {
  width: 90%;
  display: flex;
  justify-content: center;
  margin-top: 30px; /* Increase space between the profile image and text */
}

.profileImage {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 4px solid white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  object-fit: cover;
}

/* About Me Text */
.aboutMeContainer {
  text-align: left; /* Align text to the left */
  margin-left: 30px; /* Add some space between the profile image and text */
}

/* About Me Title */
.aboutMeTitle {
  font-size: 2.5rem;
  font-weight: bold;
}

/* About Me Description */
.aboutMeDescription {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
}

/* Adds extra height to enable scrolling */
.scrollable {
  height: 200vh;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@font-face {
  font-family: 'sofia-pro-regular';
  src: url('./fonts/Sofia\ Pro\ Regular\ Az.woff') format('woff2'),
       url('./fonts/Sofia\ Pro\ Regular\ Az.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sofia-pro-ultralight';
  src: url('./fonts/Sofia\ Pro\ UltraLight\ Az.woff') format('woff2'),
       url('./fonts/Sofia\ Pro\ UltraLight\ Az.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
