.header {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 900px;
    height: 50px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
  }
  
  .hidden {
    transform: translate(-50%, -100%);
    opacity: 0;
    pointer-events: none;
  }
  
  .visible {
    transform: translateX(-50%);
    opacity: 1;
  }
  
  /* Mobile menu button */
  .menuButton {
    display: none;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: black;
  }
  
  .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
  }
  
  .navLinks {
    cursor: pointer;
    list-style: none;
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  .navLinks li {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .navLinks a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    transition: color 0.2s ease-in-out;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .navLinks a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: #334a52;
    border-radius: 15px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
  }
  
  .navLinks a:hover::after {
    transform: scaleX(1);
  }
  
  /* Logo styling */
  .logo {
    height: 40px;
    width: auto;
    vertical-align: middle;
  }
  
  /* Media Queries for mobile */
  @media (max-width: 768px) {
    .navbar {
      display: none; /* Hide the navbar by default on mobile */
      background: none;
      position: fixed;
      top: 0;
      left: 0;
      right:0;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      padding: 20px;
      box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
        background: rgba(255, 255, 255,1);

      transition: all 0.3s ease-in-out; /* Add transition for the sliding effect */
    }
  
    .navbar.menuVisible {
      display: flex; /* Show the navbar when it's visible */
      left: 0; /* Slide in from the left */
    }
  
    .header {
      width: 90%;
      background: none;
      box-shadow: none;
    }
  
    .menuButton {
      display: block; /* Show the hamburger button */
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 101;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.9);
      width:60px;
      height: 60px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
  
    .navLinks {
      flex-direction: column;
      width: 100%;
      align-items: flex-start; /* Align items to the left */
    }
  
    .navLinks li {
      margin-bottom: 20px; /* Add spacing between items */
      width: 100%;
    }
  
    .navLinks a {
      padding: 10px 0;
      width: 100%; /* Make links take the full width */
      text-align: left;
    }
  }
  
  @media (min-width: 769px) {
    /* Ensure that the navbar is shown and displayed as normal on desktop */
    .navbar {
      display: flex;
      
    }


  
    .menuButton {
      display: none; /* Hide the hamburger button on desktop */
    }
  
    .navLinks {
      flex-direction: row; /* Items should be aligned horizontally */
    }
  
    .navLinks li {
      margin-bottom: 0; /* Remove margin between items on desktop */
      width: auto; /* Let items have their natural width */
    }
  
    .navLinks a {
      padding: 0 20px;
      width: auto; /* Links should not take full width */
      text-align: center;
    }
  }
  