.projectsGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  margin-top: 5vh;
}


.projectCard {
  background: rgba(249, 249, 249, 0.90);
  color:#000;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.projectCard:hover {
  transform: scale(1.05);
}

.previewImage {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.cardContent {
  padding: 15px;
  text-align: center;
  color: #000;
}

.cardTitle {
  font-size: 2rem;
  margin: 10px 0;
  color: #334A52;
}

.cardDesc{
  font-size: 1rem;
  color: #333;
}

/* Modal Overlay */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Change this to align to the top with space from top */
  animation: fadeIn 0.3s ease-in-out;
  overflow-y: scroll;
}

/* Modal */
.modal {
  padding-top: 5vh;
  padding-bottom: 2vh;

  width: 70vw;
  background: rgba(249, 249, 249, 0.95);

  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  position: relative;
  text-align: center;
  color: #fff;
  transform: translateY(-20px);
  animation: slideIn 0.3s ease-in-out forwards;
  margin-top: 5vh; /* Fixed margin from the top */
}


.modalPreviewImage{
  width: 100%;
  height: 40vh;
  object-fit: cover;
  border-radius: 10px;
}

.modalTitle{
  font-size: 6rem;
  margin: 10px 0;
  color: #334A52;
}

.modalDescription{
  font-size: 1.5rem;
  line-height: 1.6;
  color: #333;
  padding: 0 20px;
}
/* Close Button */
.closeButton {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #334A52;

}

.modalContentGrid {
  color:#333;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  padding: 20px;
  text-align:left;
}

.modalContentGrid img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.techStack {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  justify-content: center;
  margin-bottom: 3vh;
}

.techBadge {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px 12px;
  background: #334A52;
  border: 1px solid #334A52;
  color: white;
  border-radius: 20px;
  font-size: 14px;
  /* font-weight: bold; */
  transition : all 0.3s ease;
}

.techBadge:hover {
  background-color: #f0f0f0;
  color:#000;
  /* border-color:#C5EFFD; */

}

.techBadge svg {
  width: 20px;
  height: 20px;
}

@media (max-width: 768px) {
  .modal {
    width: 90vw;
    margin-top: 3vh;
    padding: 15px;
  }

  .modalTitle {
    font-size: 2.5rem;
  }

  .modalDescription {
    font-size: 1.2rem;
    padding: 0 10px;
  }

  .modalContentGrid {
    display: flex;
    flex-direction:column;
    gap: 15px;
  }

  .modalPreviewImage {
    height: auto;
  }

  .techStack {
    justify-content: flex-start;
    margin-left: 10px;
  }
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
  }
}
