.projectsGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    align-items: start;
    padding: 20px;
    margin-top : 50px;
  }

  .projectLink{
    text-decoration: none;
  }
  
  .card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .imageContainer {
    position: relative;
    width: 100%;
    height: 65%;
    overflow: hidden;
  }
  
  .content {
    padding: 15px;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #1B1626;
    text-decoration: none;
  }
  
  .description {
    font-size: 0.9rem;
    color: #1B1626;
    text-decoration: none;

  }
  